.dashboardNav {
  box-shadow: 0 0 0.75rem #cdcdd3;
}

.dashboardNav__container {
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
}

.dashboardNav__logo img {
  height: 50px;
  object-fit: contain;
}

.dashboardNav__content ul {
  display: flex;
  gap: 50px;
  align-items: center;
}

.dashboardNav__content ul li:first-child {
  font-size: 1.5rem;
}

.dashboardNav__content ul li .dashboard__profile img,
.navbar__mobile-container ul li .dashboard__profile img {
  width: 50px;
  height: auto;
  object-fit: contain;
  border: 5px solid #0c2074;
  border-radius: 50%;
}

.navbar__mobile-container ul li .dashboard__profile img {
  margin-top: 10px;
}

.showDashboard__left {
  display: none;
}

@media screen and (max-width: 1050px) {
  .showDashboard__left {
    display: block !important;
  }

  .dashboardNav__container {
    display: none;
  }

  .navbar__mobile-container .nav__logo {
    padding-top: 5px;
  }
}
