.happening {
  background-color: #f7f7fa;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.happening__header {
  padding-bottom: 2rem;
}

.happening h2 {
  color: #0c2074;
  line-height: 1.5;
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
}

.happening__content {
  display: flex;
  gap: 30px;
}

.happening__content-right {
  display: flex;
  gap: 30px;
}

.happening__content-img {
  width: 100%;
  margin-bottom: 2rem;
}

.happening__content-img img {
  width: 100%;
}

.happening__content-container h3 {
  margin-bottom: 1rem;
}

.happening__content-container h4 {
  line-height: 1.5;
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

.happening__link a {
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin-bottom: 0.75rem;
  color: #0a41c5;
  font-weight: 500;
}

.happening__link a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1050px) {
  .happening__content {
    position: relative;
    flex-direction: column;
  }

  .happening__content-left {
    width: 50%;
  }
}

@media screen and (max-width: 671px) {
  .happening__content {
    gap: 3rem;
  }

  .happening__content-right {
    width: 100%;
    flex-direction: column;
    gap: 4rem;
  }

  .happening__content-left {
    width: 100%;
  }
}
