.disclosure {
  background-color: #f7f7fa;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.disclosure__header {
  margin: 0 0 2rem;
  font-weight: 600;
}

.disclosure__content {
  width: 734px;
}

.disclosure__box {
  padding: 1rem 1.5rem;
  border-color: #2c2c2c;
  margin-bottom: 2rem;
  border: 1px solid #000;
}

.disclosure__box p {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.25rem;
}

.p-container {
  margin-bottom: 2rem;
  font-size: 0.875rem;
}

.p-bold {
  margin-bottom: 0.5rem;
}

.p-last p {
  display: flex;
  column-gap: 10px;
}

.p-last p img {
  height: 0.875rem;
}
