.authNav {
  background-color: #f7f7fa;
}

.authNav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.authNav__logo img {
  height: 25px;
  object-fit: contain;
}

.authNav__logo a {
  font-size: 2.2rem;
  font-weight: bold;
}

.authNav__logo a .first {
  color: var(--red-color);
}

.authNav__logo a .trust {
  color: var(--blue-color);
}

.authNav__logo a .bigT {
  font-size: 2.5rem !important;
  padding: 0;
}

.auth__link a {
  color: #0c2074;
  font-size: 1rem;
  font-weight: bold;
}

.auth__link a:hover {
  text-decoration: underline;
}
