.sideNav {
  background-color: #120c23;
  color: var(--red-color);
  height: 100vh;
  padding: 1rem;
}

.sideNav__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sideNav__container-content {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--white-color);
  padding-bottom: 1rem;
}

.sideNav__container-content h3 {
  margin-bottom: 1rem;
}

.sideNav__container-content a {
  color: var(--white-color);
  display: flex;
  line-height: 1.5;
  padding-bottom: 1rem;
}

.sideNav__container-content a:hover {
  text-decoration: underline;
}
